*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #1C1C1C;
}


.container{
    width: 550px;
    height: 550px;
    background: #1F2937;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    padding: 50px;
}

h1{
    width: 354px;
    max-width: 80vw;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -0.025em;
    color: #FFFFFF;  
    margin-bottom: 30px;
}

span{
    color: #4ADF86;
    display: inline-block;
}

#subtitle{
    width: 372px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #D5D4D8;
    display: inline-block;
}

hr{
    width: 100%;
    border: 1px solid #2F3E53;
    margin-top: 35px;
}

.password-fields{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.field{
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    color: #55F991;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.generator{
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    background: #10B981;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}



@media only screen and (max-width: 600px) {

    body{
        text-align: center;
    }

    .title{
        margin-left: auto;
        margin-right: auto;
    }    
    p{
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        max-width: 80vw;
        text-align: center;
    }    
    .container{
        min-width: 350px;
        margin-left: auto;
        margin-right: auto;  
        max-width: 80vw; 
        padding: 20px;
        height: 600px;
    }

    .password-fields{
        display: inline-block; 
        margin: 30px auto;
    } 

    h1{
        margin-left: auto;
        margin-right: auto;
    }

    .field{
        margin-bottom: 20px;
    }
}