*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #1C1C1C;
}

.container{
    width: 550px;
    height: 550px;
    background: #1F2937;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    padding-top: 115px;
    padding-left: 52px;
    padding-right: 52px;
}

h1{
    width: 354px;
    max-width: 80vw;
    height: 80px;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #FFFFFF;  
}

span{
    color: #4ADF86;
}

#subtitle{
    width: 372px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
    display: block;
}

hr{
    width: 100%;
    border: 1px solid #2F3E53;
    margin-top: 35px;
}

.password-fields{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.field{
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    color: #55F991;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.generator{
    margin-left: auto;
    margin-right: auto;
    width: 191px;
    height: 42px;
    background: #10B981;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    margin-top: 51px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: bold;
    cursor: pointer;
}



@media only screen and (max-width: 600px) {

    body{
        text-align: center;
    }

    .title{
        margin-left: auto;
        margin-right: auto;
    }    
    p{
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        max-width: 80vw;
        text-align: center;
    }    
    .container{
        min-width: 350px;
        margin-left: auto;
        margin-right: auto;  
        max-width: 80vw; 
        padding: 50px 20px;
    }

    .password-fields{
        display: inline-block;
        margin-left: auto;
        margin-right: auto; 
        margin-top: 30px;
    } 

    h1{
        margin-left: auto;
        margin-right: auto;
    }

    .field{
        margin: 20px;
    }
}